* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}
a:link {
    color: seashell;
}

a:visited {
    color: gray;
}

a:hover { 
    color: gray;
}

header {
    height: 69px;
    width: 100%;
    position: fixed;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -70px;
    border-bottom: 1px solid seashell;
    background-color: black;

}

header nav {
    float: right;
    text-align: right;
    display: inline;
}

nav ul {
    list-style-type: none;
    margin-right: 20px;
}

#navitems {
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
}

li {
    display: inline;
    margin: 10px;
    color: seashell;
}

#logo {
    float: left;
    margin: 10px;
}

#ourmission {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("media/img-mission-background.webp");
    height: 700px;
    width: 1200px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    background-color: black;
    width: 100%;
}

#teaofthemonth {
    width: 1000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#gallery {
    width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    justify-content: center;
}

#gallery img {
    flex-direction: row;
    flex-wrap: wrap;
}

.img-with-text img {
    height: 200px;
    display: inline-block;
    margin-bottom: 10px;
}

.img-with-text {
    text-align: center;
    font-weight: 550;
    width: 300px;
}

#locations {
    background-image: url(media/img-locations-background.webp);
    background-size: 1200px 500px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 1200px;
    background-repeat: no-repeat;
    padding-top: 50px;
}

#locations .heading h2 {
    margin-bottom: 0;
}

#locations #shops {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 100%;
}

#locations .stores {
    background-color: black;
    width: 300px;
    opacity: 1;
    margin-top: 15px;
    margin-right: 40px;
}


#locations .stores h3{
    font-weight: bold;
}

#contact {
    height: 200px;
}

footer{
    float:left;
    text-align: left;
}